version: "3.9"

services:
  trino-coordinator:
    image: trinodb/trino:476
    container_name: trino-coordinator
    ports:
      - "${TRINO_PORT:-8080}:8080"
    environment:
      - TRINO_USERNAME=${TRINO_USERNAME:-trino}
      - TRINO_PASSWORD=${TRINO_PASSWORD:-trino}
      - TRINO_INTERNAL_SECRET=${TRINO_INTERNAL_SECRET}
      - MINIO_ROOT_USER=${MINIO_ROOT_USER:-minioadmin}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
      - NESSIE_USERNAME=${NESSIE_USERNAME:-nessie}
      - NESSIE_PASSWORD=${NESSIE_PASSWORD}
    volumes:
      - ./trino_config/coordinator/config.properties:/etc/trino/config.properties
      - ./trino_config/catalog:/etc/trino/catalog
      - ./trino_config/coordinator/init.sql:/etc/trino/init.sql
      - ./trino_config/password-authenticator.properties:/etc/trino/password-authenticator.properties
      - ./trino_config/password.db:/etc/trino/password.db
    command: /usr/lib/trino/bin/run-trino

  trino-worker-1:
    image: trinodb/trino:476
    container_name: trino-worker-1
    depends_on:
      - trino-coordinator
    environment:
      - TRINO_INTERNAL_SECRET=${TRINO_INTERNAL_SECRET}
      - MINIO_ROOT_USER=${MINIO_ROOT_USER:-minioadmin}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
      - NESSIE_USERNAME=${NESSIE_USERNAME:-nessie}
      - NESSIE_PASSWORD=${NESSIE_PASSWORD}
    volumes:
      - ./trino_config/worker/config.properties:/etc/trino/config.properties
      - ./trino_config/catalog:/etc/trino/catalog

  trino-worker-2:
    image: trinodb/trino:476
    container_name: trino-worker-2
    depends_on:
      - trino-coordinator
    environment:
      - TRINO_INTERNAL_SECRET=${TRINO_INTERNAL_SECRET}
      - MINIO_ROOT_USER=${MINIO_ROOT_USER:-minioadmin}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
      - NESSIE_USERNAME=${NESSIE_USERNAME:-nessie}
      - NESSIE_PASSWORD=${NESSIE_PASSWORD}
    volumes:
      - ./trino_config/worker/config.properties:/etc/trino/config.properties
      - ./trino_config/catalog:/etc/trino/catalog
