services:
  trino-coordinator:
    image: trinodb/trino:476
    container_name: trino-coordinator
    ports:
      - "${TRINO_PORT:-8080}:8080"
    volumes:
      - ./trino_config/coordinator/config.properties:/etc/trino/config.properties
      - ./trino_config/catalog:/etc/trino/catalog
      - ./trino_config/coordinator/init.sql:/etc/trino/init.sql
      - ./trino_config/password-authenticator.properties:/etc/trino/password-authenticator.properties
      - ./trino_config/password.db:/etc/trino/password.db
    environment:
      - TRINO_USERNAME=${TRINO_USERNAME:-trino}
      - TRINO_PASSWORD=${TRINO_PASSWORD:-trino}
      - MINIO_ROOT_USER=${MINIO_ROOT_USER:-minioadmin}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
      - NESSIE_USERNAME=${NESSIE_USERNAME:-nessie}
      - NESSIE_PASSWORD=${NESSIE_PASSWORD}
    command: >
      bash -c "
        /usr/lib/trino/bin/run-trino &
        PID=\$! &&
        sleep 30 &&
        /usr/lib/trino/bin/trino \
          --server http://localhost:8080 \
          --user \${TRINO_USERNAME:-trino} \
          --password \${TRINO_PASSWORD:-trino} \
          --file /etc/trino/init.sql &&
        wait \$PID
      "

  trino-worker-1:
    image: trinodb/trino:476
    container_name: trino-worker-1
    volumes:
      - ./trino_config/worker/config.properties:/etc/trino/config.properties
      - ./trino_config/catalog:/etc/trino/catalog
      - ./trino_config/password-authenticator.properties:/etc/trino/password-authenticator.properties
      - ./trino_config/password.db:/etc/trino/password.db
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER:-minioadmin}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
      - NESSIE_USERNAME=${NESSIE_USERNAME:-nessie}
      - NESSIE_PASSWORD=${NESSIE_PASSWORD}
    depends_on:
      - trino-coordinator

  trino-worker-2:
    image: trinodb/trino:476
    container_name: trino-worker-2
    volumes:
      - ./trino_config/worker/config.properties:/etc/trino/config.properties
      - ./trino_config/catalog:/etc/trino/catalog
      - ./trino_config/password-authenticator.properties:/etc/trino/password-authenticator.properties
      - ./trino_config/password.db:/etc/trino/password.db
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER:-minioadmin}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
      - NESSIE_USERNAME=${NESSIE_USERNAME:-nessie}
      - NESSIE_PASSWORD=${NESSIE_PASSWORD}
    depends_on:
      - trino-coordinator